
* {
  word-break:break-all;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #333;
  
}

.header {
  background-color: #fff;
  height: 70px;
}

.header-items{
  height: 100%;
  margin: auto 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  height: 20px;
  min-height: 1px;
}

.menuelist {
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  display:flex;
  gap: 45px;
  text-align: center;
}


.menuelistitem:hover {
  color: white;
}

.menuebottun {
  display: block;
  background-color: #F79214;
  color:#fff;
  font-size: 12px;
  height: 40px;
  line-height: 40px;
  border-radius: 38px;
  padding: 0 20px;
}

.hamburger {
  display: none;
}

@media only screen and (max-width:1080px) {

.hamburger {
  display: block;
  position: relative;
  cursor: pointer;
  width: 24px;
  height: 17px;
  position: relative;
}

.hamburgerline {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #A2A2A4;
  border-radius: 10px;
  position: absolute;
}

.top {
  top: 0%;
}

.middle {
  top: 50%;
}
.bottom {
  top: 100%;
}

.menuelist {
  display: none;
  }
}

.main-container {
  height: 739px;
  position: relative;
}

.sub-container {
  max-width: 1040px;
  position: relative;
  padding-top: 219px;
}

.sub-container-contents {
  width: fit-content;
  position: relative;
  padding-left: 26px;
}

.catchcopy {
  width: auto;
  color: #333;
  font-size: 42px;
  font-weight: 800;
  line-height: 63px;
  margin-bottom: 16px;
  display:flex;
  align-items: center;
}

.bottun {
  background-color :#F79214;
  width: 100%;
  height: 64px;
  border-radius: 38px;
  color: white;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.note {
  font-size: 12px;
  line-height: 16px;
}

.circlemark {
  border-radius: 50%;
  position: absolute;
  top: -105px;
  right: -150px;
}

.left-triangle {
  position: absolute;
  top: -70px;
  z-index: -1;
  height: 348px;
  width: 348px;
}

.right-triangle {
  position: absolute;
  right: 0;
  bottom: 70px;
  z-index: -1;
  height: 348px;
  width: 348px;
}
.oval {
  position : absolute;
  top: 84px;
  left: -70px;
  z-index: -1;
}
.human {
  position: absolute;
  top: -70px;
  right: 0;
  z-index: -1;
  width: 775px;
}